@charset "utf-8";

/* 北京工厂 reset*/

* {
	margin: 0px;
	padding: 0px;
}

html {
	overflow-x: auto;
	overflow-y: scroll;
	font-family: "Microsoft YaHei", "微软雅黑";
}

a {
	text-decoration: none;
	color: #000;
}

a:active,
a:hover {
	text-decoration: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

ol,
ul,
li {
	list-style: none
}

img,
{
	border: none;
}


/* 通用属性 */

.banner {
	width: 100%;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.font-wr {
	font-family: '微软雅黑'
}

.clear {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.clearfix {
	zoom: 1;
}

.clearit {
	clear: both;
	height: 0;
	font-size: 0;
	overflow: hidden;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.red {
	color: #ce0110;
}

.hide {
	display: none;
}

.mr0 {
	margin-right: 0px !important;
}

.ml10 {
	margin-left: 10px;
}

.mr10 {
	margin-right: 10px;
}

.pr350 {
	padding-right: 350px;
}


/* 北京工厂头部 */

.header {
	width: 100%
}

.header .language {
	height: 40px;
	line-height: 40px;
	background-color: #151515;
}

.lanList {
	width: 1200px;
	font-size: 12px;
	text-align: right;
	margin: 0 auto;
}

.lanList span {
	width: 30px;
	height: 12px;
	line-height: 12px;
	border-right: 1px solid #fff;
	display: inline-block;
	text-align: center;
	padding-right: 2px;
}

.lanList a {
	color: #fff;
}

.nav {
	width: 100%;
	border-bottom: 2px solid #ddd;
}

.nav .navList {
	width: 1200px;
	height: 110px;
	margin: 0 auto;
}

.navList .navLogo {
	width: 108px;
	height: 80px;
	background: url(../images/logo.png) no-repeat;
	display: inline-block;
	float: left;
	margin: 15px 0;
}

.navList .navItem {
	float: right;
	height: 110px;
}

.navItem li {
	width: 100px;
	display: inline-block;
	text-align: center;
}

.navItem li a {
	width: 100px;
	height: 73px;
	padding-top: 37px;
	display: inline-block;
}

.navItem li a.active {
	background-color: #ce0110;
}

.navItem li a.active span {
	color: #fff !important;
}

.navItem li a span {
	display: block;
	color: #adadad;
}

.navItem li a span:first-child {
	margin-bottom: 6px;
	color: #000;
}

.navItem li a span:last-child {
	font-size: 12px;
}


/* 北京工厂尾部 */

.w1200 {
	width: 1200px;
	margin: auto;
	position: relative;
}

.footer {
	width: 100%;
	background-color: #333;
	color: #adadad;
	overflow: hidden;
}

.foot-nav {
	width: 100%;
	height: 14px;
	padding: 15px 0px;
	border-bottom: #666666 solid 1px;
	position: relative;
	z-index: 1;
}

.foot-nav ul {
	width: 1190px;
	padding: 0px 6px;
	margin: auto;
	height: 14px;
}

.foot-nav ul li {
	float: left;
	border-right: #adadad solid 1px;
	height: 14px;
	line-height: 14px;
}

.foot-nav ul li:last-child {
	border-right: none;
}

.foot-nav ul li a {
	color: #adadad;
	display: block;
	padding: 0px 15px;
	font-size: 14px;
}

.foot-nav ul li a:hover {
	color: #cc1d1d;
}

.foot-info {
	margin: 0px 20px;
	width: 975px;
}

.foot-info .address .fl {
	width: 590px;
	font-size: 12px;
	line-height: 32px;
	padding: 20px 0px 15px 0px;
	background: url(../images/foot_right.png) no-repeat center right;
}

.foot-info .address .fl .name {
	font-size: 18px;
}

.foot-info .address .fr {
	width: 290px;
	padding: 50px 0px 15px 0px;
}

.foot-info .address .tel {
	font-size: 32px;
}

.foot-info .address .time {
	font-size: 12px;
}

.foot-info .address .qq {
	width: 109px;
	height: 36px;
	display: block;
	color: #ffffff;
	line-height: 36px;
	;
	background-image: url(../images/qq.png);
	text-align: right;
	padding-right: 10px;
	margin-top: 20px;
}

.foot-info .copyright {
	border-top: #666666 solid 1px;
	font-size: 12px;
	color: #adadad;
	line-height: 60px;
}

.wechat {
	position: absolute;
	right: 20px;
	top: -45px;
	width: 165px;
	height: 280px;
	background: #2c2b2b;
	text-align: center;
	z-index: 0;
	font-size: 14px;
}

.wechat p {
	margin: 15px 0px 40px 0px;
}

.wechat img {
	width: 128;
	height: 128;
}


/* 首页 */

.aboutGW {
	height: 230px;
	text-align: center;
}

.aboutGW h2,
.productCenter h2,
.newsCenter h2,
.partnerCenter h2 {
	margin-top: 60px;
	font-size: 1.9em;
	font-size: 30px;
	text-align: center;
}

.aboutGW h4,
.productCenter h4,
.newsCenter h4,
.partnerCenter h4 {
	font-weight: normal;
	color: #666;
	margin-bottom: 20px;
	line-height: 2;
	text-align: center;
}

.aboutGW p {
	line-height: 30px;
	color: #adadad;
}

.feature {}

.feature .featureItem {
	width: 270px;
	height: 420px;
	margin-right: 30px;
	margin-bottom: 60px;
	border: 1px solid #ddd;
	float: left;
}

.feature .featureItem:last-child {
	margin-right: 0px;
}

.featureIcon {
	width: 70px;
	height: 70px;
	background: url(../images/featureIcon.png) no-repeat;
	margin: 60px auto;
}

.featureIcon-01 {
	background-position: 0px 0px;
}

.featureIcon-02 {
	background-position: -70px 0px;
}

.featureIcon-03 {
	background-position: -140px 0px;
}

.featureIcon-04 {
	background-position: -210px 0px;
}

.featureItem p {
	text-align: center;
}

.featureItem .title {
	font-size: 20px;
	margin-bottom: 20px;
}

.featureItem .info {
	font-size: 14px;
	color: #bfbfbf;
	line-height: 2;
}

.featureItem a {
	width: 114px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	color: #bfbfbf;
	display: block;
	margin: 40px auto;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.featureItem.active {
	border-color: #ce0110;
}

.featureItem.active .featureIcon {
	background: url(../images/featureIcon-active.png);
}

.featureItem.active .title {
	color: #ce0110;
}

.featureItem.active .featureIcon-01 {
	background-position: 0px 0px;
}

.featureItem.active .featureIcon-02 {
	background-position: -70px 0px;
}

.featureItem.active .featureIcon-03 {
	background-position: -140px 0px;
}

.featureItem.active .featureIcon-04 {
	background-position: -210px 0px;
}

.featureItem.active a {
	color: #ce0110;
	border-color: #ce0110;
}

.productCenter .productShow {
	margin: 0 10px;
	margin-bottom: 60px;
}

.productItem li {
	width: 388px;
	height: 278px;
	float: left;
}

.productItem li a,
.productItem li span {
	width: 390px;
	height: 280px;
	display: inline-block;
}

.productItem li a:hover {
	background-position: 2px 2px;
}

.productItem-01 span {
	background: url(../images/productCenter-01.png) no-repeat;
}

.productItem-01 a:hover {
	background: url(../images/productCenterHover-01.png) no-repeat;
	background-size: 100%;
}

.productItem-02 span {
	background: url(../images/productCenter-02.png) no-repeat;
}

.productItem-02 a:hover {
	background: url(../images/productCenterHover-02.png) no-repeat;
	background-size: 100%;
}

.productItem-03 span {
	background: url(../images/productCenter-03.png) no-repeat;
}

.productItem-03 a:hover {
	background: url(../images/productCenterHover-03.png) no-repeat;
	background-size: 100%;
}

.productItem-04 span {
	background: url(../images/productCenter-04.png) no-repeat;
}

.productItem-04 a:hover {
	background: url(../images/productCenterHover-04.png) no-repeat;
	background-size: 100%;
}

.productItem-05 span {
	background: url(../images/productCenter-05.png) no-repeat;
}

.productItem-05 a:hover {
	background: url(../images/productCenterHover-05.png) no-repeat;
	background-size: 100%;
}

.productItem-06 span {
	background: url(../images/productCenter-06.png) no-repeat;
}

.productItem-06 a:hover {
	background: url(../images/productCenterHover-06.png) no-repeat;
	background-size: 100%;
}

.productCenter .moreBtn {
	width: 150px;
	height: 58px;
	line-height: 58px;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #b1b1b1;
	margin-bottom: 60px;
	border: 1px solid #c1c1c1;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.newsCenter .newsBox {
	width: 1200px;
}

.newsBox .newsItem {
	width: 600px;
	height: 130px;
	float: left;
	margin-bottom: 30px;
}

.newsItem .newsDate {
	width: 70px;
	height: 130px;
	float: left;
}

.newsDate .mon,
.newsDate .day {
	width: 70px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	display: inline-block;
	font-size: 22px;
}

.newsDate .mon {
	background-color: #e4e4e4;
	color: #666;
}

.newsDate .day {
	background-color: #f7f7f7;
	color: #666;
}

.newsItem .newsWrap {
	width: 460px;
	height: 130px;
	margin-left: 20px;
	float: left;
}

.newsWrap .newsTitle {
	height: 30px;
	line-height: 34px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.newsWrap .date {
	height: 25px;
	font-size: 12px;
	color: #adadad;
}

.newsWrap .abstract {
	height: 45px;
	line-height: 2;
	font-size: 12px;
	overflow: hidden;
	margin: 10px 0;
}

.newsWrap .abstract a {
	color: #666;
}

.newsItem.active {}

.newsItem.active .newsDate>.mon {
	color: #fff;
	background-color: #ce0110;
}

.newsItem.active .newsDate>.day {
	color: #ce0110;
}

.newsItem.active .newsTitle a {
	color: #ce0110;
}

.customerArea {
	height: 670px;
	background: url(../images/customerArea.jpg) no-repeat top center;
	margin-top: 30px;
}

.customerArea>.container {
	padding: 0px 10px;
}

.customerArea>p {
	font-size: 38px;
	color: #fff;
	text-align: center;
	padding-top: 90px;
	margin-bottom: 60px;
}

.customerArea .custInfoBg {
	width: 204px;
	height: 204px;
	background: url(../images/custInfoBg.png) no-repeat;
	float: left;
}

.customerArea .bankBg {
	width: 404px;
	height: 204px;
	background: url(../images/BANK.png) no-repeat;
	float: left;
}

.customerArea .operatorBg {
	width: 334px;
	height: 204px;
	background: url(../images/operator.png) no-repeat;
	float: left;
}

.customerArea .restBg {
	width: 334px;
	height: 204px;
	background: url(../images/rest.png) no-repeat;
	float: left;
}

.customerArea .storeBg {
	width: 404px;
	height: 204px;
	background: url(../images/store.png) no-repeat;
	float: left;
}

.custInfoBg p {
	color: #fff;
	margin-left: 20px;
	line-height: 1.5;
}

.custInfoBg p:first-child {
	font-size: 24px;
	margin-top: 130px;
}

.custInfoBg p:last-child {
	font-size: 14px;
}

.partnerList {
	margin-bottom: 60px;
}

.partnerList span {
	width: 200px;
	height: 64px;
	display: inline-block;
	float: left;
	margin-bottom: 20px;
}

.partnerList .partner-01 {
	background: url(../images/coIcon-01.jpg) no-repeat;
}

.partnerList .partner-02 {
	background: url(../images/coIcon-02.jpg) no-repeat;
}

.partnerList .partner-03 {
	background: url(../images/coIcon-03.jpg) no-repeat;
}

.partnerList .partner-04 {
	background: url(../images/coIcon-04.jpg) no-repeat;
}

.partnerList .partner-05 {
	background: url(../images/coIcon-05.jpg) no-repeat;
}

.partnerList .partner-06 {
	background: url(../images/coIcon-06.jpg) no-repeat;
}

.partnerList .partner-07 {
	background: url(../images/coIcon-07.jpg) no-repeat;
}

.partnerList .partner-08 {
	background: url(../images/coIcon-08.jpg) no-repeat;
}

.partnerList .partner-09 {
	background: url(../images/coIcon-09.jpg) no-repeat;
}

.partnerList .partner-10 {
	background: url(../images/coIcon-10.jpg) no-repeat;
}

.partnerList .partner-11 {
	background: url(../images/coIcon-11.jpg) no-repeat;
}

.partnerList .partner-12 {
	background: url(../images/coIcon-12.jpg) no-repeat;
}

.partnerList .partner-13 {
	background: url(../images/coIcon-13.jpg) no-repeat;
}

.partnerList .partner-14 {
	background: url(../images/coIcon-14.jpg) no-repeat;
}

.partnerList .partner-15 {
	background: url(../images/coIcon-15.jpg) no-repeat;
}

.partnerList .partner-16 {
	background: url(../images/coIcon-16.jpg) no-repeat;
}

.partnerList .partner-17 {
	background: url(../images/coIcon-17.jpg) no-repeat;
}

.partnerList .partner-18 {
	background: url(../images/coIcon-18.jpg) no-repeat;
}


/*关于我们*/

.about-banner {
	height: 330px;
	background: url(../images/about_banner.jpg) no-repeat center left #000000;
	padding-top: 50px;
}

.about-banner .info {
	width: 860px;
	border: #ffffff solid 2px;
	margin: auto;
	color: #ffffff;
	font-size: 14px;
	padding: 20px 30px;
	line-height: 34px;
}

.about-banner .info h3 {
	text-align: center;
	font-size: 18px;
}

.about-banner .info p {
	margin-top: 20px;
}

.about-title {
	text-align: center;
	border-bottom: #dddddd solid 1px;
	position: relative;
	height: 70px;
	margin-top: 70px;
	margin-bottom: 90px;
}

.about-title .info {
	width: 210px;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 50px;
	margin-left: -105px;
	background: url(../images/about_title_bg.png) no-repeat center bottom #ffffff;
	padding-bottom: 10px;
}

.about-title .info .zh {
	color: #555555;
	font-size: 18px;
	font-weight: bold;
	line-height: 2;
}

.about-title .info .en {
	color: #dddddd;
	font-size: 14px;
	font-family: Arial;
}

.about-a ul {
	padding: 0px 20px;
	overflow: hidden;
}

.about-a ul li {
	float: left;
	width: 20%;
	text-align: center;
	color: #666666;
	font-size: 16px;
	line-height: 32px;
}

.about-a ul li img {
	width: 168px;
	height: 170px;
}

.about-a ul li:nth-child(2n) {
	margin-top: 160px;
}

.about-b ul {
	overflow: hidden;
}

.about-b ul li {
	float: left;
	width: 190px;
	height: 210px;
	margin: 0px 5px;
	text-align: center;
	color: #666666;
	font-size: 16px;
	line-height: 32px;
}

.about-b ul li img {
	width: 190px;
	height: 196px;
}

.about-b ul li:nth-child(7) {
	margin-left: 90px;
}

.about-c ul {
	overflow: hidden;
	margin-bottom: 30px;
}

.about-c ul li {
	float: left;
	width: 370px;
	height: 150px;
	color: #666666;
	font-size: 16px;
	padding-left: 230px;
	position: relative;
}

.about-c ul li img {
	width: 90px;
	height: 90px;
	position: absolute;
	left: 120px;
}

.about-c ul li .zh {
	font-size: 20px;
	color: #333333;
	margin: 20px 0px 6px 0px;
}

.about-c ul li .en {
	font-size: 10px;
	color: #adadad;
}


/*公司产品*/

.con-warp .productBox {
	width: 770px;
	margin-top: 30px;
}

.productBox .proPic {
	width: 382px;
	height: 382px;
	border: 1px solid #e5e5e5;
	display: inline-block;
	text-align: center;
}

.productBox .proPic img {
	height: 382px;
}

.productBox .proInfoBox {
	margin-left: 30px;
}

.proInfoBox .proInfoTitle {
	width: 350px;
	line-height: 2;
	font-size: 28px;
	font-weight: bold;
	border-bottom: 1px solid #e5e5e5;
}

.proInfoBox .proInfoDetail {
	width: 350px;
	font-size: 14px;
	color: #8c8c8c;
	margin-top: 10px;
	line-height: 3;
}

.productBox .proPara {
	margin-top: 40px;
}

.proPara>div>ul {}

.proPara>div>ul li {
	width: 140px;
	height: 41px;
	line-height: 40px;
	float: left;
	border-bottom: 1px solid #ddd;
}

.proPara>div>ul li:last-child {
	padding-right: 350px;
}

.proPara>div>ul li a {
	width: 130px;
	height: 40px;
	text-align: center;
	color: #808080;
	display: block;
	border: 1px solid #ddd;
	border-bottom: 0;
}

.proPara>div>ul li.active {
	line-height: 35px;
}

.proPara>div>ul li.active a {
	border-bottom: 1px solid #fff;
	border-top: 3px solid #ce0110;
	height: 38px;
}

.proPara .infoBox {
	margin-top: 30px;
	color: #666;
}

.infoBox ul {}

.infoBox ul li {
	font-size: 14px;
	margin: 20px 0;
}

.infoBox ul li span {
	display: inline-block;
	width: 16px;
	height: 16px;
	font-size: 12px;
	text-align: center;
	margin-right: 4px;
	border: 1px solid #666;
	border-radius: 48%;
	-webkit-border-radius: 48%;
	-moz-border-radius: 48%;
}

.infoBox p.title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.infoBox p.detail {
	font-size: 12px;
	line-height: 2;
}

.mb30 {
	margin-bottom: 30px;
}

.specification-01 {
	width: 761px;
	height: 466px;
	background: url(../images/specification-01.png) no-repeat;
}

.specification-02 {
	width: 761px;
	height: 478px;
	background: url(../images/specification-02.png) no-repeat;
}

.specification-03 {
	width: 761px;
	height: 435px;
	background: url(../images/specification-03.png) no-repeat;
}

.specification-04 {
	width: 761px;
	height: 407px;
	background: url(../images/specification-04.png) no-repeat;
}

.specification-05 {
	width: 761px;
	height: 402px;
	background: url(../images/specification-05.png) no-repeat;
}

.specification-06 {
	width: 761px;
	height: 411px;
	background: url(../images/specification-06.png) no-repeat;
}


/*人才招聘*/

.recruit-banner {
	height: 380px;
	background: url(../images/recruit_banner.jpg) no-repeat center top;
}

.con-warp {
	padding: 20px 20px 50px 20px;
	overflow: hidden;
	width: 1160px;
	margin: auto;
}

.con-warp h2 {
	font-size: 26px;
	color: #1f1a17;
	border-bottom: #dddddd solid 1px;
	line-height: 80px;
	margin-bottom: 20px;
}

.con-warp .sidebar {
	width: 310px;
	margin-left: 20px;
	min-height: 500px;
}

.con-warp .sidebar ul {
	padding-left: 40px;
	margin-bottom: 20px;
}

.con-warp .sidebar ul li {
	line-height: 46px;
	border-bottom: #dddddd solid 1px;
	position: relative;
	color: #666666;
	font-size: 14px;
	cursor: pointer;
}

.con-warp .sidebar ul li:hover {
	color: #da251c;
}

.con-warp .sidebar ul li a {
	display: block;
}

.con-warp .sidebar ul li.on a {
	color: #da251c;
}

.con-warp .sidebar ul li.on i {
	position: absolute;
	z-index: 10;
	left: -30px;
	top: 16px;
	border-color: transparent transparent transparent #da251c;
	border-style: solid dashed dashed solid;
	border-width: 8px 12px;
	font-size: 0;
	height: 0;
	width: 0;
	line-height: 0;
}

.con-warp .sidebar p {
	font-size: 24px;
	margin-top: 10px;
	margin-left: -40px;
}

.con-warp .details {
	width: 770px;
	margin-right: 20px;
}

.con-warp .details h1 {
	text-align: center;
	font-size: 30px;
	color: #1f1a17;
	line-height: 70px;
}

.con-warp .details .data {
	text-align: center;
	font-size: 14px;
	color: #adadad;
	border-bottom: #dddddd solid 1px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

.con-warp .details .data span {
	margin-right: 20px;
}

.con-warp .details .info {
	color: #666666;
	line-height: 32px;
	font-size: 14px;
	padding: 10px 0px;
}

.con-warp .details .info .problem {
	margin: 25px 0px 5px 0px;
	font-weight: bold;
}

.con-warp .details .info .tel {
	background: url(../images/icon_server.png) 0px 16px no-repeat;
	line-height: 50px;
	text-indent: 40px;
}

.con-warp .details .info .e-mail {
	background: url(../images/icon_server.png) 0px -30px no-repeat;
	line-height: 50px;
	text-indent: 40px;
}

.con-warp .details .info .text-indent {
	text-indent: 2em;
}


/*联系我们*/

.contact-warp {
	padding: 40px 20px;
	overflow: hidden;
}

.contact-warp .fl {
	width: 365px;
	line-height: 28px;
	font-size: 12px;
	padding-top: 320px;
	color: #666666;
	font-family: "宋体";
}

.contact-warp .fl strong {
	font-size: 14px;
}

.contact-warp .fr {
	width: 770px;
	height: 525px;
	border: #dddddd solid 1px;
}


/*新闻中心*/

.news-banner {
	height: 380px;
	background: url(../images/news_banner.jpg) no-repeat center top;
}

.con-warp .list {
	width: 770px;
	margin-right: 20px;
}

.con-warp .list ul li {
	border-bottom: #dddddd solid 1px;
	padding: 25px 0px;
}

.con-warp .list ul li .title a {
	font-size: 18px;
}

.con-warp .list ul li .title a:hover {
	color: #cc1d1d;
}

.con-warp .list ul li .data {
	font-size: 12px;
	line-height: 30px;
	color: #999999;
}

.con-warp .list ul li .summary {
	font-size: 12px;
	color: #666666;
	line-height: 23px;
	height: 46px;
	overflow: hidden;
}

.new-link {
	overflow: hidden;
}

.new-link a {
	font-size: 12px;
	color: #333333;
}

.new-link a:hover {
	color: #da251c;
}

.new-info {
	text-indent: 2em;
	color: #666666;
	line-height: 34px;
	font-size: 14px;
	padding: 10px 0px;
	margin-bottom: 30px;
}


/*服务支持*/

.question-banner {
	height: 380px;
	background: url(../images/question_banner.jpg) no-repeat center top;
}


/*合作案例*/

.case-banner {
	height: 380px;
	background: url(../images/case_banner.jpg) no-repeat center top;
}

.case-warp {
	width: 1160px;
	margin: auto;
	padding: 30px 20px;
}

.case-tab ul {
	text-align: center;
	border-bottom: #dddddd solid 1px;
}

.case-tab ul li {
	display: inline-block;
	font-size: 18px;
	line-height: 60px;
	height: 60px;
	margin: 0px 8px;
	min-width: 160px;
	border: #dddddd solid 1px;
	margin-bottom: -1px;
	cursor: pointer;
	color: #adadad;
	padding: 0px 15px;
}

.case-tab ul li.on {
	border-bottom: #ffffff solid 1px;
	color: #666666;
}

.case-box {
	display: none;
	padding-top: 20px;
}

.case-inof {
	overflow: hidden;
}

.case-inof .fl {
	width: 390px;
	height: 370px;
	line-height: 48px;
	background: #f0f0f0;
	border: #dddddd solid 1px;
	position: relative;
	font-size: 16px;
	color: #666666;
	padding: 20px 25px;
}

.case-inof .fl .words {
	position: absolute;
	right: 50px;
	bottom: 10px;
	font-size: 50px;
	color: #e5e5e5;
}

.case-inof .fl .big-words {
	position: absolute;
	right: 10px;
	bottom: 50px;
	font-size: 95px;
	color: #e5e5e5;
}

.case-inof .fl .small-words {
	position: absolute;
	right: 20px;
	bottom: 10px;
	font-size: 36px;
	color: #e5e5e5;
}

.case-inof .fr {
	font-size: 12px;
	color: #666666;
	line-height: 24px;
}

.case-inof .fr .title {
	text-align: center;
	color: #333333;
	font-size: 22px;
	line-height: 50px;
}

.case-inof ul li {
	float: left;
	margin-left: 20px;
	width: 314px;
}

.case-inof ul li img {
	width: 312px;
}

.case-link {
	overflow: hidden;
}

.case-link ul {
	width: 1200px;
	overflow: hidden;
	margin-bottom: 50px;
}

.case-link ul li {
	float: left;
	margin-right: 20px;
	width: 275px;
	margin-bottom: 20px;
	height: 200px;
}

.case-link .title {
	position: relative;
	border-bottom: #dddddd solid 1px;
	height: 22px;
	margin: 50px 0px 60px 0px;
}

.case-link .title span {
	position: absolute;
	width: 150px;
	left: 50%;
	margin-left: -75px;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	color: #adadad;
	background: #ffffff;
}